.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d-flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.d-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}